@model Scrabble.Models.Member

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Town)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Town)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.County)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.County)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateJoined)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateJoined)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfWins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfWins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfLosses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfLosses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HighestScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HighestScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HighestScoreDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HighestScoreDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HighestScoreLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HighestScoreLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HighestScoreAgianst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HighestScoreAgianst)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MemberID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
